<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{{ page.title }}</title>
	<link href="styles/default.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header_bar">
		<ul>
			<li><a href="http://www.davegrijalva.com">Blog</a></li>
			<li><a href="http://github.com/dgrijalva">Projects</a></li>
		</ul>
		<img src="images/dave_cartoon_24.png" />
		<span class="name">Dave Grijalva</span>
	</div>
	<div id="content">
		{{ content }}
	</div>
</body>
</html>
